<p-toast></p-toast>

<p-card header="Registro" styleClass="p-mb-4 ">
  <form [formGroup]="registroForm" (ngSubmit)="register()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Nombre</label>
        <input id="name" type="text" pInputText formControlName="name" />
        <ng-template
          [ngIf]="
            registroForm.get('name')!.invalid &&
            registroForm.get('name')!.touched
          "
        >
          <div class="p-error">
            El nombre es obligatorio y debe tener al menos 3 caracteres.
          </div>
        </ng-template>
      </div>
      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" pInputText formControlName="email" />
        <ng-template
          [ngIf]="
            registroForm.get('email')!.invalid &&
            registroForm.get('email')!.touched
          "
        >
          <div class="p-error">
            El correo es obligatorio y debe tener un formato válido.
          </div>
        </ng-template>
      </div>
      <div class="p-field">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="password"
        />
        <ng-template
          [ngIf]="
            registroForm.get('password')!.invalid &&
            registroForm.get('password')!.touched
          "
        >
          <div class="p-error">
            La contraseña es obligatoria y debe tener al menos 6 caracteres.
          </div>
        </ng-template>
      </div>
      <button
        pButton
        type="submit"
        label="Registrar"
        [disabled]="registroForm.invalid"
      ></button>
    </div>
  </form>
</p-card>
