<p-toast></p-toast>

<p-card header="Iniciar Sesión" styleClass="p-mb-4">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" pInputText formControlName="email" />
        <ng-template
          [ngIf]="
            loginForm.get('email')!.invalid && loginForm.get('email')!.touched
          "
        >
          <div class="p-error">
            El correo es obligatorio y debe tener un formato válido.
          </div>
        </ng-template>
      </div>
      <div class="p-field">
        <label for="password">Contraseña</label>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="password"
        />
        <ng-template
          [ngIf]="
            loginForm.get('password')!.invalid &&
            loginForm.get('password')!.touched
          "
        >
          <div class="p-error">
            La contraseña es obligatoria y debe tener al menos 6 caracteres.
          </div>
        </ng-template>
      </div>
      <button
        pButton
        type="submit"
        label="Iniciar Sesión"
        [disabled]="loginForm.invalid"
      ></button>
    </div>
  </form>
</p-card>
